@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import "reset";
@import "content";

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.have-account {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
  font-size: 14px;
  a {
    text-decoration: underline;
    color: #2980b9;
  }
}

.button-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 8px;
  cursor: pointer;
}

.search {
  max-width: 240px;
  position: relative;
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  &-input {
    width: 100%;
    outline: none;
    padding-right: 24px;
  }
  &-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.quill {
  position: relative;
  .ql-toolbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
  }
}
